button {
    width: 14.75rem;
    height: 2.625rem;
    border-radius: 0.625rem;
    display: flex;
    justify-content: space-between;
    background: var(--ciano-escuro);
    border: none;
    margin: 0 0 2rem 1.94rem;
}

.icone-botao{
    width: 1rem;
    height: 1rem;
    background: url("/assests/images/icon-cart.svg") no-repeat;
    margin-left: 3.87rem;
}

span {
    font: 700 0.875rem var(--montserrat);
    color: white;
    margin-right: 3.37rem;
}

.icone-botao, span {
    margin-top: 0.65rem;
    margin-bottom: 0.62rem;
}

button:hover, button:focus {
    background: var(--darker-ciano);
}


@media screen and (max-width: 767px) {
    button {
        width: 18.5rem;
        height: 2.875rem;
        margin: 0 1.25rem 1.40rem 1.63rem;
    }

    .icone-botao{
        width: 1rem;
        height: 1rem;
        background: url("/assests/images/icon-cart.svg") no-repeat;
        margin: 0.75rem 0 0 5.81rem;
    }

    span {
        margin: 0.69rem 5rem 0.75rem 0;
    }
}